@model NexusSaaS.Models.UserModel

<div id="id01" class="modal">

    <form class="modal-content animate" asp-controller="Login" asp-action="Login">

        <div class="container">
            <label asp-for="Email"><b>Username</b></label>
            <input type="text" placeholder="Enter Email" asp-for="Email" required>

            <label asp-for="Password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" asp-for="Password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>