@model NexusSaaS.Models.LoginViewModel

<div id="id01" class="modal">

    <form class="modal-content animate" asp-controller="Login" asp-action="Login" style="width: 30%;">

        <div class="container">
            <label asp-for="Email"><b>Username</b></label>
            <input type="text" placeholder="Enter Email" asp-for="Email" required>
            <span asp-validation-for="Email" class="text-danger"></span>

            <label asp-for="Password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" asp-for="Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" name="RememberMe" value="1"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a asp-controller="Login" asp-action="ForgotPassword">password?</a></span>
        </div>
    </form>
</div>