@model NexusSaaS.Models.UserModel

@{
    var listRoles = ViewData["listRoles"] as List<RoleModel>;
}

<div id="id01" class="modal">

    <form class="modal-content animate" asp-action="Create" asp-controller="Register">

        <div class="container">
            <label asp-for="Name"><b>Name</b></label>
            <input type="text" placeholder="Enter Username" asp-for="Name" required>

            <label asp-for="Password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" asp-for="Password" required>

            <label asp-for="Email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" asp-for="Email" required>

            <label asp-for="Phone"><b>Phone</b></label>
            <input type="text" placeholder="Enter Phone" asp-for="Phone" required>

            <label for="psw"><b>Roles</b></label>
            @foreach (var r in listRoles)
            {
                <label class="radio-inline"><input type="checkbox" name="RoleIds" value="@r.RoleId"> @r.Name </label>
            }

            <button type="submit">Sign Up</button>
        </div>

        <div class="container">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>