@model NexusSaaS.Models.UserModel

@{
}

<div id="id01" class="modal">

    <form class="modal-content animate" id="registerForm" asp-action="Create" asp-controller="Register" style="width: 30%;">

        <div class="container">
            <label asp-for="Name"><b>Name</b></label>
            <input type="text" placeholder="Enter Username" asp-for="Name" required>
            <span asp-validation-for="Name" id="name_validate" class="text-danger"></span>

            <label asp-for="Password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" asp-for="Password" required>
            <span asp-validation-for="Password" id="password_validate" class="text-danger"></span>

            <label asp-for="Email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" asp-for="Email" required>
            <span asp-validation-for="Email" id="email_validate" class="text-danger"></span>

            <label asp-for="Phone"><b>Phone</b></label>
            <input type="text" placeholder="Enter Phone" asp-for="Phone" required>
            <span asp-validation-for="Phone" id="phone_validate" class="text-danger"></span>

            <label for="psw"><b>Roles</b></label>
            <input type="checkbox" checked="checked" class="hidden" name="RoleIds" value="2">

            <button type="button" class="btn-submit">Sign Up</button>
        </div>

        <div class="container">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>

<script>
    $(".btn-submit").click(function () {
        var roleIds = [];
        $.each($("#registerForm").find('input[name="RoleIds"]:checked'), function () {
            roleIds.push($(this).val());
        });
        var formData = {
            "Name": $("#registerForm").find('input[name="Name"]').val(),
            "Phone": $("#registerForm").find('input[name="Phone"]').val(),
            "Email": $("#registerForm").find('input[name="Email"]').val(),
            "Password": $("#registerForm").find('input[name="Password"]').val(),
            "RoleIds": roleIds
        };
        $.ajax({
            type: 'POST',
            accepts: 'application/json',
            contentType: 'application/json',
            url: 'https://localhost:44349/Register/Create',
            data: JSON.stringify(formData),
            success: function (result, textStatus, jqXHR) {
                if (jqXHR.status == 200) {
                    location.reload();
                }
                if (result.Name != null) {
                    $("#name_validate").text(result.Name.errors[0].errorMessage);
                }
                if (result.Email != null) {
                    $("#email_validate").text(result.Email.errors[0].errorMessage);
                }
                if (result.Password != null) {
                    $("#password_validate").text(result.Password.errors[0].errorMessage);
                }
                if (result.Phone != null) {
                    $("#phone_validate").text(result.Phone.errors[0].errorMessage);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    });
</script>