@model NexusSaaS.Models.UserModel

@{
    var listRoles = ViewData["listRoles"] as List<RoleModel>;
}

<div id="id01" class="modal">

    <form class="modal-content animate" asp-action="Create" asp-controller="Register" style="width: 30%;">

        <div class="container">
            <label asp-for="Name"><b>Name</b></label>
            <input type="text" placeholder="Enter Username" asp-for="Name" required>
            <span asp-validation-for="Name" class="text-danger"></span>

            <label asp-for="Password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" asp-for="Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>

            <label asp-for="Email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" asp-for="Email" required>
            <span asp-validation-for="Email" class="text-danger"></span>
            @if (ViewData.ModelState.ContainsKey("Existed"))
            {
                <span class="text-danger">@ViewData.ModelState["Existed"]</span>
            }

            <label asp-for="Phone"><b>Phone</b></label>
            <input type="text" placeholder="Enter Phone" asp-for="Phone" required>
            <span asp-validation-for="Phone" class="text-danger"></span>

            <label for="psw"><b>Roles</b></label>
            @foreach (var r in listRoles)
            {
                <label class="radio-inline"><input type="checkbox" name="RoleIds" value="@r.RoleId"> @r.Name </label>
            }
            <span asp-validation-for="RoleIds" class="text-danger"></span>

            <button type="submit">Sign Up</button>
        </div>

        <div class="container">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>