@model NexusSaaS.Models.UserModel

@{
    var listRoles = ViewData["listRoles"] as List<RoleModel>;
}

<div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php">

        <div class="container">
            <label for="uname"><b>Name</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw"><b>Email</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw"><b>Phone</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw"><b>Roles</b></label>
            @foreach (var r in listRoles)
            {
                <label class="radio-inline"><input type="checkbox" name="roleIds[]" value="@r.RoleId"> @r.Name </label>
            }

            <button type="submit">Sign Up</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>